:root {
    --clr-primary-blue: #287FF0;
    --clr-secondary-green: #388E3C;
    --clr-white: #FFFFFF;
    --clr-body: #F5F5F5;
    --clr-grey: #bdbdbd;
    --ff-primary: "Barlow Semi Condensed", sans-serif;
    --fs-text: 1.125rem;
    --fs-heading: 2rem;
    --fs-small: .8rem;
    --fw-400: 400;
    --fw-700: 700;
    --w-max: 70rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-primary);
    background-color: var(--clr-body);
}

img {
    display: block;
    max-width: 100%;
}

input {
    background: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

input:focus {
    border: none;
    outline: none;
}

div {
    border: none;
}


/* utilities */

.text-green {
    color: var(--clr-secondary-green)
}

.bg-blue {
    background-color: var(--clr-primary-blue);
}

.bg-red {
    background-color: red;
}

.text-white {
    color: var(--clr-white)
}

.text-grey {
    color: var(--clr-grey)
}

.fs-text {
    font-size: var(--fs-text);
}

.fs-heading {
    font-size: var(--fs-heading);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
    justify-content: center;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    display: inline-block;
    padding: .5rem 1.5rem;
    font-size: .725rem;
    font-weight: var(--fw-700);
    border-radius: 3px;
    cursor: pointer;
    height: min-content;
    transition: opacity 50ms ease-in;
}

.button:hover {
    opacity: .8;
}


/* .action-buttons>.button {
    border: 1px solid red;
} */


/* .align-center>sapn {
    border: 1px solid red;
}

.align-center>svg {
    border: 1px solid red;
} */

.section-products {
    /* border: 1px solid red; */
    max-width: 80vw;
    margin-inline: auto;
    margin-top: .6rem;
    /* display: flex; */
    margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
    .section-products {
        display: flex;
    }
}

.offer-holder {
    max-width: 15rem;
    /* min-height: 100%; */
    object-fit: fill;
    margin-left: 0.5rem;
}

@media screen and (max-width: 600px) {
    .offer-holder {
        margin: 1rem;
    }
}

.offer-holder>img {
    height: 100%;
    object-fit: cover;
}

.rounded {
    border-radius: 3px;
}

.navbar {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    padding: .3rem 0rem;
    justify-content: center;
    align-items: center;
    max-width: var(--w-max);
    margin-inline: auto;
}

.selected {
    background-color: var(--clr-white);
    color: var(--clr-primary-blue);
}

.logo {
    max-width: 1rem;
    /* border: 1px solid red; */
}

.logo>img {
    /* border: 1px solid red; */
    height: 2.5rem;
}

.search {
    background: var(--clr-white);
    display: flex;
    align-items: center;
    flex-grow: 3;
    justify-content: space-between;
    padding: .3rem .5rem;
    margin: 0 1rem;
    min-width: 2rem;
}

.search>svg {
    min-width: 3rem;
    /* border: 1px solid red; */
}

.search>input {
    /* border: 1px solid red; */
    min-width: 1rem;
    flex: 1;
}

.action-buttons {
    display: none;
}

.menu-icon {
    margin-right: 1rem;
    cursor: pointer;
}

.menu-icon:hover {
    /* display: block; */
    border: 1px solid red;
}

@media screen and (min-width: 700px) {
    .menu-icon {
        display: none;
    }
    .action-buttons {
        display: inline-block;
    }
}

.section-header {
    padding: 1rem;
    border-bottom: 1px solid rgb(209, 209, 209);
    /* border: 1px solid red; */
}

.section-title {
    font-weight: var(--fw-400);
    font-size: var(--fs-text);
}

.section-header-span {
    font-size: var(--fs-text);
    color: var(--clr-grey);
}

@media screen and (min-width: 900px) {
    .section-header {
        display: flex;
        justify-content: space-between;
    }
    .section-header-details {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 900px) {
    .section-header>*:not(:last-child) {
        /* border: 1px solid red; */
        margin-bottom: .5rem;
    }
}

.section-title {
    margin-right: 1rem;
}

.fs-small {
    font-size: var(--fs-small);
}

.countdown {
    display: flex;
    align-items: center;
}

.countdown-time {
    margin-left: .3rem;
}

.section-body {
    padding: 1rem;
    /* border: 1px solid red; */
    overflow: scroll;
    position: relative;
}

.overflow_indicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 5rem;
    width: 2rem;
    cursor: pointer;
    /* border: 2px solid var(--clr-grey); */
    /* -webkit-box-shadow: -6px 0px 46px 5px rgba(0, 0, 0, 0.39); */
    /* -moz-box-shadow: -0px 0px 4px 5px rgba(0, 0, 0, 0.39); */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.39);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(247, 247, 247, 1) 100%);
}

li {
    text-decoration: none;
    list-style-type: none;
}

.logo {
    min-width: 10rem;
}

.categories-section {
    background-color: white;
    padding: 1rem;
    border-bottom: 1px solid var(--clr-grey);
    /* border: 1px solid red; */
    overflow-x: scroll;
}

.categories {
    min-width: 40rem;
    max-width: var(--w-max);
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    /* overflow-x: scroll; */
    /* border: 1px solid red; */
    /* flex-wrap: wrap; */
}

.category {
    min-width: 5rem;
    max-width: 6rem;
    min-height: 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.category:hover {
    border: 1px solid var(--clr-grey);
    border-radius: 3px;
}

.category-image {
    display: flex;
    flex-grow: 3;
    align-items: center;
    min-height: 80%;
    /* border: 1px solid red; */
}

.category-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.products {
    flex: 1;
    background: white;
    position: relative;
    overflow-x: scroll;
    -webkit-box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.39);
}

.products-list {
    display: flex;
    gap: 2rem;
}

.product {
    width: 10rem;
    min-height: 18rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.product:hover {
    border: 1px solid var(--clr-grey);
    border-radius: 3px;
}

.product-image {
    display: flex;
    flex-grow: 3;
    align-items: center;
    /* border: 1px solid red; */
    max-height: 12rem;
    /* min-width: ; */
}

.product-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}